<section class="row">
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Artists", artists_path %></li>
    <li class="active"><%= @artist.name %></li>
  </ol>
  <h1><%= @artist.name %></h1>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Listed Paintings</h2>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <% @artist.paintings.each do |painting| %>
              <li><%= link_to painting.title, painting %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>On display at</h2>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <% @artist.museums.each do |museum| %>
              <li><%= link_to museum.name, museum %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</section>
<div class="row">
  <%= link_to "Back to Artists", artists_path %>
</div>
