<h1>Add a painting</h1>
<%= form_for @painting do |f| %>
  <fieldset>
    <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
    </div>
    <div>
    <%= f.label :image_url %>
    <%= f.url_field :image_url %>
    </div>
    <div>
    <%= f.label :artist_id, "Select an artist" %>
    <%= f.select :artist_id, @artists.map {|a| [a.name, a.id] } %>
    </div>
    <div>
    <%= f.label :museum_id, "Select an museum" %>
    <%= f.select :museum_id, @museums.map {|m| [m.name, m.id] } %>
    </div>
  </fieldset>
  <%= f.submit %>
<% end %>
