<h1>Add a painting</h1>
<div class="row">
  <div class="col-md-6"><%= form_for @painting do |f| %>
        <fieldset>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :image_url %>
            <%= f.url_field :image_url, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :artist_id, "Select an artist" %>
            <%= f.collection_select :artist_id, @artists, :id,:name, {}, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :museum_id, "Select an museum" %>
            <%= f.collection_select :museum_id, @museums, :id, :name, {}, class: 'form-control' %>
          </div>
        </fieldset>
        <%= f.submit nil, class: "btn btn-primary" %>
        <%= link_to "Back", :back, class: "btn btn-warning" %>
    <% end %>
  </div>
</div>