<h1>Add a new Museum</h1>
<%= form_for @museum do |f| %>
  <fieldset class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>
    <%= f.submit nil, class: "btn btn-primary" %>
    <%= link_to "Back", :back, class: "btn btn-warning" %>
<% end %>
